<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/luca16s/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="luca16s" />
            <add key="ClearTextPassword" value="${{ secrets.SECRET_NAME }}" />
        </github>
    </packageSourceCredentials>
</configuration>